<h1>Details</h1>

<% if @article !=nil %>
    <div>
        <p><b>Title: </b>
            <%= @article.title%>
                <b>Body: </b>
                <%= @article.body%>
                    <b>Author: </b>
                    <%= @article.author%>
        </p>
    </div>
    <li>
        <%= link_to "Delete" , article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
            %>
    </li>
    <% end %>

        <h2>Add a comment:</h2>

        <%= render "comment" , comment: @comment %>

            <h2>Comments</h2>

            <% @article.comments.each do |comment| %>
                <% unless comment.archived? %>
                    <div>
                        <p><b>Commenter: </b>
                            <%= comment.commenter%>
                                <b>Body: </b>
                                <%= comment.body%>
                        </p>
                    </div>
                    <% end %>
                        <% end %>